
 .sou-text{
  float: left;
  width: 50%;
  padding: 0;
  margin-left: 50px;

}
 
 @media(max-width: 900px) {
  
   .side{
     display: none;
   }

   .sou-text{
 
     width: 100%;
   }


   .content{
     margin-bottom: 15px;
   }
 }
 